body{
	padding: 0px;
	margin: 0;
	overflow-x: hidden;
}
.Intro{
	display: flex;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	border-top: 30px solid blue;
	border-right: 30px solid blue;
	border-bottom: 30px solid blue;
}
.Ileft{
	flex: 1;
	
	background-color: blue;
}
.Iright{
	flex: 2;
	position: relative;
	/*background-color: green;*/
}
.Center{
	display: flex;
	width: 70%;
	height: 70%;
	align-items: center; 
	position: absolute;
	flex-wrap: wrap;
	justify-content: space-between;
	top: 15%;
	transform: translateX(-30%);
	left: 0;
}
.btn1{
	margin-top: 10%;
	padding: 15px 30px;
	position: relative;
	overflow: hidden;
	border: 1px solid blue;
	background-color: transparent;
	transition: 0.5s;
	overflow: hidden;
	cursor: pointer;
}
.btn::before{
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	bottom: -10%;
	width: 100%;
	background-color: navy;
	border-radius: 50% 50% 0 0;
	transition: 0.5s;
	height: 10%;
}
.btn1:hover{
	color: white;
}
.btn:hover::before{
	height: 190%;
}
.card{
	width: 55%;
	height: 100%;
	position: relative;
}
.front{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	transition: 0.5s;
}
.card:hover .front{
	z-index: -1;
	transform: rotateX(180deg);
}
.back{
	width: 100%;
	height: 100%;
	background-color: navy;
	z-index: -1;
	transform: rotateX(180deg);
	transition: 0.5s;
}
.card:hover .back{
	transform: rotateX(0deg);
	z-index: 1;
}
.content{
	width: 40%;
	min-width: 200px;
}
img{
	width: 100%;
	height: 100%;
}
.projects{
	display: block;
	background-color: blue;
	border: none;
	margin-top: 20px;
	padding: 5% 10% 5% 10%;
}
.work{
	display: flex;
	width: 70%;
	margin: auto;
	margin-top: 50px;
	flex-wrap: wrap;
}
.Wleft{
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	/*border: 30px solid blue;*/
	/*background-color: pink;*/
	z-index: -2;
}
.Wright{
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	/*border: 30px solid blue;*/
	/*background-color: teal;*/
	z-index: -2;
}
.project{
	width: 350px;
	height: 400px;
	margin: 10%;
	position: relative;
	background-color: black;
	transition: 0.5s;
}
.work:hover .project{
	width: 370px;
	height: 420px;
}
.basicDetails{
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 10px gray;
}
.image{
	height: 70%;
}
.discription{
	height: 30%;
	box-sizing: border-box;
	padding: 5%;
	background-color: gray;
}
.about{
	margin: 5%;
}
.projectDetails{
	position: absolute;
	background-color: blue;
	z-index: -1;
	left: -7%;
	bottom: -7%;
	box-sizing: border-box;
	padding: 5%;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.number{
	position: absolute;
	bottom: 2%;
	/*left: 2%;*/
	color: white;
}
.contactContainer{
	margin-top: 6%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	background-color: rgb(230, 230, 230);
	padding: 25px;
}
.col2{
	display: grid;
	position: relative;
	grid-template-rows: 1fr 1fr;
}
.thankyou{
	text-align: center;
}
.feedback{
	position: absolute;
	transform-origin: 95% 10px;
	top: -40%;
	transform: rotateZ(-90deg);
	right: -30px;
	width: 300px;
	transition: 0.5s;
	background-color: blue;
	padding: 20px;
	color: white;
}
.feedback:hover {
	transform: rotateZ(0deg);
	right: 0;
}
.textbox{
	display: block;
	border: none;
	outline: none;
	color: white;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 40px 0px 40px 0px;
	background-color: transparent;
	border-bottom: 1px solid gray;
}
.submit{
	background-color: white;
	border: none;
	padding: 10px 30px 10px 30px;
}